<div data="https://github.com/eldahl" class="github-pinner flat gp-profile" style="visibility: visible;">
    <div id="gp-container-profile">
        <a href="https://github.com/eldahl">
            <img id="gp-avatar" style="width: 80px;" src="https://avatars.githubusercontent.com/u/71466904?v=4">
        </a>
        <div id="gp-information">
            <a class="gp-link" href="https://github.com/eldahl">
                <span class="gp-element gp-name">Esben</span>
                <span class="gp-element gp-user">eldahl</span>
            </a>
            <span class="gp-element gp-bio">PB Software Develpoment student at EASV, Denmark.</span>
        </div>
        <div class="gp-stats">
            <a class="gp-stat" href="https://github.com/eldahl?tab=repositories">
                <b class="gp-stat-val">47</b>
                <span class="gp-stat-desc">Repos</span>
            </a>
            <a class="gp-stat" href="https://github.com/eldahl?tab=followers">
                <b class="gp-stat-val">9</b>
                <span class="gp-stat-desc">Followers</span>
            </a>
            <a class="gp-stat" href="https://github.com/eldahl?tab=following">
                <b class="gp-stat-val">27</b>
                <span class="gp-stat-desc">Following</span>
            </a>
            <a href="https://github.com/eldahl" class="gp-btn gp-follow">Follow</a>
        </div>
    </div>
</div>
