{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <div>
        {{ with resources.Get "js/GitHubPinner.js" }}
        <script src="{{ .RelPermalink }}"></script>
        {{ end }}
        <div data="https://github.com/eldahl" class="github-pinner flat" style="visibility: hidden;"></div>
    </div>
    <div class="project-gallery">
        {{- range .projectParams }}
        <div class="project">
            <div class="project-img-wrapper">
                <img style="" class="project-img" src={{ .imgPath }}></img>
            </div>
            <div data="{{ .href }}" class="github-pinner flat" style="visibility: hidden;"></div>
        </div>
        {{- end}}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
