{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <div class="project-gallery">
        {{- range .projectParams }}
        <a href="{{ .href }}" class="project">
            <div class="project-content">
                <div class="project-overlay">
                    <div class="project-text">
                        <p class="project-header">{{ .header }}</p>
                        <hr></hr>
                        <p class="project-description">{{ .description }}</p>
                    </div>
                </div>
                <img class="project-img" src={{ .imgPath }}></img>
            </div>
        </a>           
        {{- end}}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
